









<!--  Navigations -->
<nav>
    <div class="nav-wrapper deep-orange accent-3">
      <a href="#!" class="brand-logo center">SmallTalk</a>

      <!-- If user is logged in, show the user email and logout button -->
      <button data-target="modal1" class="btn modal-trigger modal-fixed-nav blue accent-4"><i class="fa fa-user" aria-hidden="true"></i></button>
      <a class="waves-effect waves-light btn blue accent-4"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>


    </div>
  </nav>




<div class="section">



<!-- Modal Structure -->


<div id="modal1" class="modal bottom-sheet modal-position" style="top: -100%; overflow: hidden;     min-height: 330px;">
  <div class="modal-content">
    <div class="row">


      <!-- if logged in - SHOW -->
      <% if !session[:user].nil? %>
      <button class="nav-signout">
        <div>Signed in as... <%= session[:user]["email"] %></div>
        <p style="display:none" id="user_id"><%=session[:user]["id"]%></p>
        <form action="/signout" method ="post">
          <input type="hidden" value="delete" name="_method">
          <button id="logout" style="float:right">Logout</button>
          <a href="/favourites"><button id="show-favourites" >Favourites</button></a>
        </form>
      <button>
      <% else %>
      <!-- if NOT logged in - SHOW -->


    <form class="col s12">
      <div class="row">
        <form action="/signin" method = "post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="input-field col s12 l4 offset-l4">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate email" name ='email'>
            <label for="icon_prefix">Email</label>
          </div>
          <div class="input-field col s12  l4 offset-l4">
            <i class="material-icons prefix">vpn_key</i>
            <input id="icon_telephone" type="password" class="validate password" name='password'>
            <label for="icon_telephone">Password</label>
          </div>
        </div>








        <!-- Login Button -->
        <div class="col s4 offset-s4 center-align">
          <a id="login" class="waves-effect waves-light btn"><i class="material-icons left"></i>Login</a>
        </div>
      </form>

      <!-- SignUp Button -->
      <div class="col s4 offset-s4 center-align">
        <a href="/signup" class="waves-effect waves-light"><i class="material-icons left"></i>Sign-Up</a>
      </div>
    </form>
      <% end %>
  </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="fa fa-times" aria-hidden="true"></i></a>
  </div> -->
</div>



<!-- Preloader Test -->
<!-- <div class="preloader-wrapper big active">
   <div class="spinner-layer spinner-blue-only">
     <div class="circle-clipper left">
       <div class="circle"></div>
     </div><div class="gap-patch">
       <div class="circle"></div>
     </div><div class="circle-clipper right">
       <div class="circle"></div>
     </div>
   </div>
 </div> -->




<!-- Social Media Overlay -->
<div class="social-media-overlay" id="social-media-overlay" style="display: none;">
</div>


<!-- Categories Container -->
<div class="categories-container" style="display: block;" id="categories-container" onload="Materialize.showStaggeredList('#categories-container')">


  <!-- Categories Container 1st Row -->
  <div class="row categories">
    <div class="col s4 m4 l4 center-align categories-click cats"  ><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-cats"></a></div>
    <div class="col s4 m4 l4 center-align categories-click news"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-news"></a></div>
    <div class="col s4 m4 l4 center-align categories-click numberFacts"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-numberFacts"></a></div>

    <div class="col s4 center-align categories-text">Cats</div>
    <div class="col s4 center-align categories-text">News</div>
    <div class="col s4 center-align categories-text">Numbers</div>
  </div>


  <!-- Categories Container 2nd Row -->
  <div class="row categories">
    <div class="col s4 m4 l4 center-align categories-click randomFacts"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-randomFacts"></a></div>
    <div class="col s4 m4 l4 center-align categories-click trivia"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-trivia"></a></div>
    <div class="col s4 m4 l4 center-align categories-click giphy"><a class="btn-floating btn-large waves-effect waves-light hoverable categories-image red categories-image-giphy"></a></div>

    <div class="col s4 center-align categories-text">Random</div>
    <div class="col s4 center-align categories-text">Trivia</div>
    <div class="col s4 center-align categories-text">Giphy</div>
  </div>


  <!-- Categories Container 3rd Row -->
  <div class="row categories">

    <div class="col s4 m4 l4 center-align categories-click smalltalks"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-smalltalks"></a></div>
    <div class="col s4 m4 l4 center-align categories-click reddit"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-reddit"></a></div>
    <div  class="col s4 m4 l4 center-align categories-click yesno"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-yesno"></a></div>
    <div class="col s4 center-align categories-text">SmallTalk</div>
    <div class="col s4 center-align categories-text">Reddit</div>
    <div class="col s4 center-align categories-text">Yes or No</div>
  </div>
</div>

  <!-- Results Container -->
<div class="results-container" style="display:none;">
  <div class="row results">
    <p class="center-align results-title-cats" id="category"> </p>
      <div class="row">
        <div class="col s12 offset-m2 m8 offset-l3 l6 ">
          <div class="card">
            <div class="card-content">
              <div id="showContent">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
              </div>
            </div>
          <!-- <div class="card-action card-btm">
            <div class="fixed-action-btn vertical click-to-toggle social-media-btn" id="social-media-overlay-btn">
              <a class="social-media-btn-inner btn-floating btn-large red" style="width: 50px; height: 50px;">
                    <i class="material-icons">menu</i>
              </a>
              <ul>
                <li><a class="btn-floating blue darken-3"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a class="btn-floating blue"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="btn-floating green darken-5"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div> -->
          </div>
        </div>
      </div>
  </div>



   <!-- Results Container Like + Next Navigation -->
 <div id="results-like-fav">
  <div class="row">
    <% if !session[:user].nil? %>
    <div class="col s6  m3 offset-m3 center-align"><a class="btn-floating btn-large waves-effect waves-light hoverable deep-orange accent-3 results-btn" id="like"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    <div class="col s6 m3 center-align"><a id="category-next" class="btn-floating btn-large waves-effect waves-light hoverable deep-orange accent-3 results-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
    <% else %>
    <div class="col s12 center-align"><a id="category-next" class="btn-floating btn-large waves-effect waves-light hoverable deep-orange accent-3 results-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
    <% end %>
  </div>
</div>
</div>

 <div class="owl-carousel center-align owl-fixed" id="carousel-show" style="display:none;">


     <div class="col s4 m4 l4 center-align categories-click cats"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-cats"><p class="carousel-text">Cats</p></a></div>
     <div class="col s4 m4 l4 center-align categories-click news"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-news"><p class="carousel-text">News</p></a></div>
     <div class="col s4 m4 l4 center-align categories-click numberFacts"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-numberFacts"><p class="carousel-text">NumberFacts</p></a></div>

     <div class="col s4 m4 l4 center-align categories-click randomFacts"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-randomFacts"><p class="carousel-text">RandomFacts</p></a></div>
     <div class="col s4 m4 l4 center-align categories-click trivia"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-trivia"><p class="carousel-text">Trivia</p></a></div>
     <div class="col s4 m4 l4 center-align categories-click giphy"><a class="btn-floating btn-large waves-effect waves-light hoverable categories-image red categories-image-btn categories-image-giphy"><p class="carousel-text">Giphy</p></a></div>


     <div class="col s4 m4 l4 center-align categories-click smalltalks"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-smalltalks"><p class="carousel-text">SmallTalk</p></a></div>
     <div class="col s4 m4 l4 center-align categories-click reddit"><a class="btn-floating btn-large waves-effect waves-light hoverable red  categories-image-btn categories-image-reddit"><p class="carousel-text">Reddit</p></a></div>
     <div class="col s4 m4 l4 center-align categories-click yesno"><a class="btn-floating btn-large waves-effect waves-light hoverable red categories-image-btn categories-image-yesno"><p class="carousel-text">YesNo</p></a></div>

 </div>

 </div>

<!-- Custom Scripts -->
<script>
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      responsiveClass:true,
      responsive:{
          0:{
              items:3,
              nav:false,
              loop:true
          },
          600:{
              items:8,
              nav:true,
              loop:true
          },
          1000:{
              items:8,
              nav:true,
              loop:true
          }
      }
  });
  $( "#social-media-overlay-btn" ).click(function() {
  $( "#social-media-overlay" ).fadeToggle( 250, "linear" );
  });

  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();

  // if(localStorage.getItem('activeCategory')){
  //   $('.'+localStorage.getItem('activeCategory')).trigger('click');
  //   localStorage.removeItem('activeCategory');
  // }
  });
  $(".button-collapse").sideNav();
  ///// Buttons Categories
  $(".categories-click").click(function(){
    $("#categories-container").hide();
  });
  $(".categories-click").click(function(){
    $(".results-container").show();
  });
  $(".categories-click").click(function(){
    $("#carousel-show").show();
  });

  $('#backBtn').click(function() {
    $(".results-container").hide();
    $("#categories-container").show();
  });
</script>
