<h1>SmallTalk</h1>



<button id="cats">Cats</button>
<button id="xkcd">XKCD</button>
<button id="numbers">Numbers</button>
<button id="giphy">Giphy</button>
<button id="random">Random Facts</button>
<button id="news">News</button>
<button id="next">NextNws</button>

<div id="show"></div>
