
.background-body{
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  z-index: -3333333;
  position: fixed;
  background-image: url("./foreducationalpurposes.png");

}

// body{
//   background: rgba(227, 242, 253, .9);
//   background-image: url("http://stylegerms.com/wp-content/uploads/2013/06/pattern-family-01-single1.jpg");
//   background-position: center;
//   background-repeat: repeat-y;
//   background-size: cover;
//   z-index: -3333333;
// }

//
//
// body {
//   -khtml-opacity:.50;
//  -moz-opacity:.50;
//  -ms-filter:"alpha(opacity=50)";
//   filter:alpha(opacity=50);
//   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
//   opacity:.50;
//
// }


.categories-text-smalltalk{
  font-size: 18px;
  font-weight: 900;

}

#logout{
  margin-top: 0;
  text-align: center;
}

#show-favourites{
  margin-top: 0;
  text-align: center;
}

#logout > p, #show-favourites > p{
  text-align: center;
}

#favouriteContent, #editPassword {
  margin-top:8em;
}

#favouriteCard {
  margin-bottom:0;
}

.delete {
  margin-top:1em;
}

#answerBtn {
  margin: 5px 0 5px 0;
}

nav{
  position: fixed;
  top:0;
  z-index: 10000000;
}

#showContent > img{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.owl-stage-outer{
    margin-bottom: 5px;
}

.owl-prev{
  font-size: 10px;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: fixed;
  bottom: 110px;
  left: 75px;
  border-radius: 30px;

  color: #ff9800 ;
  font-weight: 200;
  padding: 8px 0 0 0;
  border: 1px solid #ff9800 ;
}

.owl-next{
  font-size: 10px;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: fixed;
  bottom: 110px;
  right: 75px;
  border-radius: 30px;

  color: #ff9800;
  font-weight: 200;
  padding: 8px 0 0 0;
  border: 0.8px solid #ff9800;


}

.carousel-text{
   text-shadow: 1px 1px #000;
   font-weight: bold;
}

.categories-image-btn{
  height: 50px;
  width: 50px;
}


.linkNews, .linkReddit {
  margin-bottom:20px;
  display:block;
}


.section{
  margin-top: 60px;
}

#results-like-fav{
  position: fixed;
text-align: center;
width: 100%;
bottom: 90px;
}

.card .card-content{
  margin-bottom: 400px;
  min-height: 150px;

  font-size: 16px;

}
.nav-signout{

}

.social-media-btn-inner{

}

.gifImage {
  max-width:100%;
  display:block;
  margin: 0 auto;
}

.test-owl{
  width: 100%;
}

.modal-fixed-nav{
  float: right;
      margin-top: 10px;
}

.modal .modal-content{
  padding: 0;
  padding-top: 75px;
}

.modal-position{
  z-index: 100000000000000000000;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}


.categories{
  width: 100%;
  max-width: 500px;
  margin-bottom: 8%;
}

.categories-text{
  margin-top: 8px;
  font-weight: bold;
  color: #ff9800 ;
}

.categories-container{
  margin-top: 45px;
}

.categories-image-cats{
  background-image: url("http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}

.categories-image-news{
  background-image: url("http://www.historicpages.com/heads/1863nyt.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}

.categories-image-numberFacts{
  background-image: url("https://proxy.bigfooty.com/forum/proxy.php?image=http%3A%2F%2Fi46.tinypic.com%2F2wnr48y.png&hash=f9f7b3fdbc2c02dbf97d484401fcdcf0");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}

.categories-image-randomFacts{
  background-image: url("http://cdn.truthinmedia.com/wp-content/uploads/2014/10/bigstock-silhouette-with-a-question-mar-59367497.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}

.categories-image-trivia{
  background-image: url("http://banc.org.au/wp-content/uploads/2015/12/Trivia.png");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}
.categories-image-giphy{
  background-image: url("https://pbs.twimg.com/profile_images/699676239620083713/WCUM0RqH.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}

.categories-image-smalltalks{
  background-image: url("https://demetriusrogers.files.wordpress.com/2014/09/small-talk.jpg");
  background-position: center;
  background-size: cover;
  border: 5px solid #ff9800 ;
}

.categories-image-reddit{
  background-image: url("http://www.wired.com/wp-content/uploads/2015/07/reddit-alien-red.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}

.categories-image-yesno{
  background-image: url("http://4.bp.blogspot.com/-Fo5X8k-ivjY/ULN5YKArhgI/AAAAAAAAhZ0/CtHq8w36e7w/s1600/yes-no.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid #ff9800;
}


.social-media-btn{
  position: relative;
  text-align: center;
  right:0;
  bottom: 0;
  z-index: 1001;


}

.social-media-btn-inner{
  height: 50px;
  width: 50px;
  z-index: 500
}

.social-media-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 1;
  -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
  position: fixed;
}

.results-title-cats{
  color: lightgrey;
  height: 21px;
}

.results-btn{
  line-height: 90.5px;
}

.btn-floating.btn-large {
  width: 80px;
  height: 80px;
}

.card .card-action{
    padding-bottom: 35px;
    z-index: 1;
}

.owl-item {

}

.owl-fixed{
  position: fixed;
  bottom: 0;

}
